{# src/MBH/Sitederencontre/Ressources/views/Advert/monprofil.html.twig #}

 {% extends 'MBHSitederencontreBundle::layout.html.twig' %}

 {% block title %}
 	Mon-profil - {{ parent() }} 	
 {% endblock %}

 {% block menu %}

 	ici placera le menu de la page d'inscription
 {% endblock %}

 {% block body %}
 	
 	<div class="row">
 		<div class="col-md-4">
 			<h3>Ajouter de nouvelles photos</h3>
 			<table>
 			</table>
 		</div>
 		<div class="col-md-4">
 			<h3>photo de profil</h3>			
 			<img src="{{ asset('uploads/images/' ~ members.profileImage) }}" alt="photo de profile {{ members.username }}" width="100" height="100"/>
 		</div>
 		<div class="col-md-4">
 			<h3>Detail de profil</h3>
 			<a href="{{ path('mbh_sitederencontre_edit',{'id': members.id}) }}">Modifier</a>
 				<div>{{ members.username }}</div>
 				{#<div>{{ members.date }}</div>#}
 				<div>Lieu de residence:{{ members.city }}</div>
 				{#<div>{{ members.genre }}</div>#}
 				{#<div>{{ members.pseudo }}</div>#}
 				<div>Job:{{ members.job }}</div>
 				<div>Description:{{ members.description }}</div>
 		</div>
 	</div>
 	
 {% endblock %}