{# src/MBH/Sitederencontre/Ressources/views/Advert/monprofil.html.twig #}

 {% extends 'MBHSitederencontreBundle::layout.html.twig' %}

 {% block title %}
 	Mon-profil - {{ parent() }} 	
 {% endblock %}

 {% block menuleft %}
    <li class="nav-item active">
      <a href="{{ path('mbh_sitederencontre_monprofil', { id: user.id }) }}" class="nav-link">Mon profil</a>
    </li>
    <li class="nav-item">
      <a href="{{ path('mbh_sitederencontre_profiles') }}" class="nav-link">Voir les profils</a>
    </li>
  {% endblock %}

 {% block menuRight %}
  <div class="tooltip">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>



    <div class="fas fa-bell text-white {% if hasNotification %} text-danger {% endif %}" data-toggle="tooltip" data-placement="bottom">
      {% for notification in notifications %}
        <div class="row">
          <div class="col-md-3">
            {{notification.pseudo}} {#(<small>{{message.createdAt | date('d/m/y')}}</small>)#}
          </div>
          <div class="col-md-9">
            {notification.body | raw}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
   <div class="dropdown">
     <i class="fas fa-bell text-white cursor-pointer {% if hasNotification %} text-danger {% endif %}" id="dropdownMenuButton" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
     <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
       {% for notification in notifications %}
         <div class="row">
           <div class="col-md-3">
             {{notification.pseudo}} {#(<small>{{message.createdAt | date('d/m/y')}}</small>)#}
           </div>
           <div class="col-md-9">
             {{ notification.body }}
           </div>
         </div>
       {% endfor %}
     </div>
   </div>
   <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

  </div>
   <a class="nav-item text-white nav-link" href="{{ path('mbh_sitederencontre_logout') }}">Se déconnecter</a>
 {% endblock %}

 {% block body %}
 	<div class="container">	
    <div class="profil-photo">
 			<h3>Photo de profil</h3>  
 			<img src="{{ asset('uploads/images/' ~ members.profileImage) }}" alt="photo de profile {{ members.pseudo }}"
          width="200" height="200" class="rounded-circle" />
      {% if members.id != user.id %}
      <button class="btn btn-outline-success  btn-chat" data-toggle="modal" data-target="#chat-{{ members.id }}">
        <i class="fas fa-envelope">Chats</i>
      </button>
        
      {% endif %}  
    </div>	

 	  <div class="profil">
    <div class="row">
        <div class="col-md-6">	  
         {% if members.image1 is not null %}
           <img src="{{ asset('uploads/images/' ~ members.image1) }}" alt="Image 1" width="100" height="150" class="rounded">
         {% endif %}
      
         {% if members.image2 is not null %}
           <img src="{{ asset('uploads/images/' ~ members.image2) }}" alt="Image 2" width="100" height="150" class="rounded">
         {% endif %}
      
         {% if members.image3 is not null %}
           <img src="{{ asset('uploads/images/' ~ members.image3) }}" alt="Image 3" width="100" height="150" class="rounded">
         {% endif %}
        </div>

        <div class="col-md-6 border-left border-bottom shadow p-3 mb-5 bg-white rounded">
          <h3>Details de profil</h3>
          <b>{{ members.pseudo|upper }}</b>
          <div>{{ members.birthday|date('d/m/y') }}</div>
          <div>{{ members.gender }}</div>
          <div><strong>Ville</strong>:{{ members.city }}</div>
          <div><strong>Job</strong>:{{ members.job }}</div>
          <div><strong>Description</strong>:{{ members.description }}</div>
        </div>
    </div>
 	{% if members.id == user.id %}
 		<a href="{{ path('mbh_sitederencontre_profilcompleted',{'id': members.id}) }}" class="btn btn-primary">Modifier mon profil</a>
  {% endif %}
 	</div>
  </div>
  <div>
           <div class="modal fade" id="chat-{{ members.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
             <div class="modal-dialog" role="document">
               <div class="modal-content">
                 <div class="modal-header">
                   <h5 class="modal-title" id="exampleModalLabel">Envoyer un message</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-target="#chat-{{ members.id }}">
                     <span aria-hidden="true" data-target="#chat-{{ members.id }}">&times;</span>
                   </button>
                 </div>
                 <div class="modal-body">
                   <form action="{{ path('mbh_sitederencontre_message_send') }}" method="post" enctype="multipart/form-data">
                     <div id="#chat-{{ members.id }}--vue" class="chat-app" data-user-to="{{ members.id }}" data-user-from="{{ user.id }}"></div>
                   </form>
                 </div>
                 <div class="modal-footer"></div>
               </div>
             </div>
           </div>
         
 {% endblock %}