{# src/MBH/Sitederencontre/Ressources/views/Advert/profilcompleted.html.twig #}

 {% extends 'MBHSitederencontreBundle::layout.html.twig' %}

 {% block title %}
   Mon profil - {{ parent() }}
 {% endblock %}

  {% block menuleft %}
    <li class="nav-item active">
      <a href="{{ path('mbh_sitederencontre_monprofil', { id: members.id }) }}" class="nav-link">Mon profil</a>
    </li>
    <li class="nav-item">
      <a href="{{ path('mbh_sitederencontre_profiles') }}" class="nav-link">Voir les profils</a>
    </li>
  {% endblock %}

 {% block menuRight %}
   <a class="nav-item text-white nav-link" href="{{ path('mbh_sitederencontre_logout') }}">Se déconnecter</a>
 {% endblock %}

 {% block body %}

   <div class="row">
     <div class="col-md-8">
       <h4>Ajouter de nouvelles photos</h4>
       <div class="row">
        <div class="col-md-4">
         {% if members.image1 is not null %}
           <img src="{{ asset('uploads/images/' ~ members.image1) }}" alt="Image 1" width="150" height="150">
         {% endif %}
        </div>
        <div class="col-md-4">
         {% if members.image2 is not null %}
           <img src="{{ asset('uploads/images/' ~ members.image2) }}" alt="Image 2" width="150" height="150">
         {% endif %}
        </div>
        <div class="col-md-4">
         {% if members.image3 is not null %}
           <img src="{{ asset('uploads/images/' ~ members.image3) }}" alt="Image 3" width="150" height="150">
         {% endif %}
        </div>
        
         <!-- Button trigger modal -->
         <div class="bouton">
         <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#photos">
           Modifier mes photos
         </button>
         </div>

         <!-- Modal -->
         <div class="modal fade" id="photos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
           <div class="modal-dialog" role="document">
             <div class="modal-content">
               <div class="modal-header">
                 <h5 class="modal-title" id="exampleModalLabel">Modifier mes photos</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                 </button>
               </div>
               <div class="modal-body">
                 <form action="{{ path('mbh_sitederencontre_images',{'id': members.id}) }}" method="post"
                       enctype="multipart/form-data">
                   <div class="well">
                     <input type="file" name="image-1"/>
                     <input type="file" name="image-2" value="{{ members.image2 }}"/>
                     <input type="file" name="image-3" value="{{ members.image3 }}"/>
                   </div>
                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                   <button type="submit" class="btn btn-primary">Enregistrer</button>
                 </form>
               </div>
               <div class="modal-footer"></div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>

   <div class="col-md-4">
     <h3>photo de profil</h3>
   <div class="bouton-modifie">
     <img src="{{ asset('uploads/images/' ~ members.profileImage) }}" alt="photo de profile {{ members.pseudo }}"
          width="150" height="150" class="rounded-circle"/>

          <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Modifier ma photo de profil
      </button>    
   </div>
   </div>
     {{ include("MBHSitederencontreBundle:Advert:modal.html.twig") }}

   <div id="profil_completed" class="col-md-8">
     {{ include("MBHSitederencontreBundle:Advert:add.html.twig") }}
   </div>

 {% endblock %}
